$mdc-theme-primary: #FFF;
$mdc-theme-secondary: #0E578C;
$mdc-theme-background: #fff;

@import "node_modules/@material/textfield/mdc-text-field";
@import "node_modules/@material/dialog/mdc-dialog";
@import "@material/top-app-bar/mdc-top-app-bar";

html, body { 
  height: 100%;
}

@media(max-width: 480px){
  html, body, main {margin: 0; height: 100%; overflow: hidden}

  .hide-on-mobile{
    display: none !important;
  }

  header{
    padding:0 !important;
    width: 100% !important;
  }

  .mobile-main-button{
    visibility: visible !important;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
  }

  .myContainer:before{
    width: 100% !important;
  }

  .menu-icon{
    display: inline !important;
  }
}

.info-button{
  position: fixed !important;
  z-index: 9999;
  top: 24px;
  right: 72px;
}

.phone-button{
  position: fixed !important;
  z-index: 9999;
  top: 24px;
  right: 24px;
}

#background-pc{
  background: url(/img/compu.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#background-print{
  background: url(/img/printer.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#background-connect{
  background: url(/img/conectividad.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#background-accessories{
  background: url(/img/accesorios.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#background-code{
  background: url(/img/code.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.background{
  width: 100%;
  margin: 0 auto;
}

.fixed{
  position:fixed;
}

.menu-list{
  list-style-type: none;
}

.active-menu{
  opacity: 1 !important;
  font-size: 16px !important;
}

.pc-menu, .print-menu, .connect-menu, .accessories-menu, .code-menu{
  opacity: 0.8;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-top{
  padding-top: 0 !important;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.my-button{
  border-color: $mdc-theme-secondary !important;
  border-radius: 18px !important;
}

.mobile-main-button{
  visibility: hidden;
  position:fixed !important;
  bottom:24px;
}

.my-button-white{
  border-color: $mdc-theme-primary !important;
  border-radius: 18px !important;
}

.myContainer:before
{
    content: "";
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: -1;
    background: url(/img/tec.png) no-repeat;
    background-position: center;
    animation: rotation 30s infinite linear;
    opacity: 0.4;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.full-height {
  height: 100%;
}

.full-width{
  width: 100%;
}

.valign{
	vertical-align: middle;
}

.hide{
	display: none !important;
	transition:all 1s;
}

.selectable{
  cursor: pointer;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.white{
	color: white !important;
}

.grad-div{
	background: linear-gradient(241deg, #0e578c, #311b92, #304ffe);
	background-size: 600% 600%;
  padding:24px;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 47%}
	    50%{background-position:100% 54%}
	    100%{background-position:0% 47%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 47%}
	    50%{background-position:100% 54%}
	    100%{background-position:0% 47%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 47%}
	    50%{background-position:100% 54%}
	    100%{background-position:0% 47%}
	}
}

@import "node_modules/material-components-web/material-components-web";